__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

venv/
.venv/
env/
.env/

keys/private.pem
keys/public.pem

dataset/orders.json
dataset/signatures.json
dataset/meta.json

results/benchmark.csv
results/benchmark.txt
results/*.png

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
